.warmBGGradient {
    background: linear-gradient(to left, var(--color-mainWhite), var(--color-warmWhite));
}

.greenTextGradient {
    display: inline-flexbox;
    background: linear-gradient(to left, var(--color-mainGreen), var(--color-accentGreen));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    transition: all 0.2s ease-in-out;
}

a:hover {
    transform: scale(1.075);
}

p {
    color: #1A5832;
}