.demoReel {
    pointer-events: none;
}

.font-outline {
    -webkit-text-stroke: 1px #1c1917;
}

.font-outline-sm {
    -webkit-text-stroke: 1px #1c1917;

}

@font-face {
    font-family: 'EmblemaOne';
    src: url('../assets/fonts/EmblemaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'EmblemaOne', sans-serif;
}