.warmBGGradient {
    background: linear-gradient(to left, var(--color-mainWhite), var(--color-warmWhite));
}

.greenTextGradient {
    background: linear-gradient(to left, var(--color-mainGreen), var(--color-accentGreen));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
