.demoReel {
    pointer-events: none;
}

.font-outline {
    -webkit-text-stroke: 1px #1c1917;
}

.font-outline-sm {
    -webkit-text-stroke: 1px #1c1917;

}

@font-face {
    font-family: 'EmblemaOne';
    src: url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap') format('ttf'),
        url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap') format('ttf');
}

h1 {
    font-family: 'EmblemaOne', sans-serif;
    ;
}