@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #292524;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: transform 0.2s ease-in-out;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 4px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border-color: #ff6900;
  transition: border-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  transition: border 0.08s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  border: 7px solid;
  border-color: #ff6a00;
  background-color: #2b2825;
  transform: scale(1.0000000001);
}

button:focus,
button:focus-visible {
  outline: 4px;
  outline-color: #cc6511;
  outline-offset: 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #cc6511;

  }

  a:hover {
    color: #cc6511;
  }
}

@font-face {
  font-family: 'Notion';
  src: url('../assets/fonts/JHCNotion-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Worldstar';
  src: url('../assets/fonts/Worldstar.ttf') format('truetype');
}

@font-face {
  font-family: 'Valve';
  src: url('../assets/fonts/valve.otf') format('opentype');
}

@font-face {
  font-family: 'BOD';
  src: url('../assets/fonts/BoardofDirectors.otf') format('opentype');
}

@font-face {
  font-family: 'PatuaOne';
  src: url('../assets/fonts/PatuaOne-Regular.ttf') format('truetype');
}

@theme {
  /* FINAL COLORS */
  --color-mainGreen: #1A5832;
  --color-accentGreen: #208D4A;
  --color-mainWhite: #FFF0D9;
  --color-warmWhite: #FFE4BB;

  /* Fonts */
  --font-Notion: Notion, "sans-serif";
  --font-Worldstar: Worldstar, "sans-serif";
  --font-Valve: Valve, "sans-serif";
  --font-BOD: BOD, "sans-serif";
  --font-PatuaOne: PatuaOne, "sans-serif";
}