@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-mainGreen);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

.overviewTextHeaderGreen {
  font-family: var(--font-PatuaOne);
  font-size: 3.2rem;
  line-height: 1.5;
  color: var(--color-mainGreen);
}

.overviewTextBodyGreen {
  font-family: var(--font-Arvo);
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--color-mainGreen);
}

.overviewTextHeaderWhite{
  font-family: var(--font-PatuaOne);
  font-size: 3.7rem;
  line-height: 1.5;
  color: var(--color-warmWhite);
}

.overviewTextBodyWhite {
  font-family: var(--font-Arvo);
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--color-warmWhite);
}

.cardImage {
  margin-left: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 0.75rem, solid, var(--color-mainGreen);
  border-radius: 2rem;
}

.greenBgOverviewImage {
  margin-right: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 0.75rem, solid, var(--color-warmWhite);
  border-radius: 2rem;
}

.whiteBgOverviewImage {
  margin-left: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 0.75rem, solid, var(--color-mainGreen);
  border-radius: 2rem;
}

@media (prefers-color-scheme: light) {

}

@font-face {
  font-family: 'Notion';
  src: url('../assets/fonts/JHCNotion-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Worldstar';
  src: url('../assets/fonts/Worldstar.ttf') format('truetype');
}

@font-face {
  font-family: 'Valve';
  src: url('../assets/fonts/valve.otf') format('opentype');
}

@font-face {
  font-family: 'BOD';
  src: url('../assets/fonts/BoardofDirectors.otf') format('opentype');
}

@font-face {
  font-family: 'PatuaOne';
  src: url('../assets/fonts/PatuaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arvo';
  src: url('../assets/fonts/Arvo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ArvoBold';
  src: url('../assets/fonts/Arvo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ArvoItalic';
  src: url('../assets/fonts/Arvo-Italic.ttf') format('truetype');
}

@theme {
  /* FINAL COLORS */
  --color-mainGreen: #1A5832;
  --color-accentGreen: #208D4A;
  --color-mainWhite: #FFF0D9;
  --color-warmWhite: #FFE4BB;
  --color-siteAccent: #5f464b;

  /* Fonts */
  --font-Notion: Notion, "sans-serif";
  --font-Worldstar: Worldstar, "sans-serif";
  --font-Valve: Valve, "sans-serif";
  --font-BOD: BOD, "sans-serif";
  --font-PatuaOne: PatuaOne, "sans-serif";
  --font-Arvo: Arvo, "sans-serif";
  --font-ArvoBold: ArvoBold, "sans-serif";
  --font-ArvoItalic: ArvoItalic, "sans-serif";
}