@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #292524;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

button {
}

@media (prefers-color-scheme: light) {

}

@font-face {
  font-family: 'Notion';
  src: url('../assets/fonts/JHCNotion-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Worldstar';
  src: url('../assets/fonts/Worldstar.ttf') format('truetype');
}

@font-face {
  font-family: 'Valve';
  src: url('../assets/fonts/valve.otf') format('opentype');
}

@font-face {
  font-family: 'BOD';
  src: url('../assets/fonts/BoardofDirectors.otf') format('opentype');
}

@font-face {
  font-family: 'PatuaOne';
  src: url('../assets/fonts/PatuaOne-Regular.ttf') format('truetype');
}

@theme {
  /* FINAL COLORS */
  --color-mainGreen: #1A5832;
  --color-accentGreen: #208D4A;
  --color-mainWhite: #FFF0D9;
  --color-warmWhite: #FFE4BB;
  --color-siteAccent: #5f464b;

  /* Fonts */
  --font-Notion: Notion, "sans-serif";
  --font-Worldstar: Worldstar, "sans-serif";
  --font-Valve: Valve, "sans-serif";
  --font-BOD: BOD, "sans-serif";
  --font-PatuaOne: PatuaOne, "sans-serif";
}