a {
    transition: transform 0.2s ease-in-out;
}

a:hover {
    transform: scale(0);
}

.warmTextGradient {
    background: linear-gradient(to left, var(--color-mainWhite), var(--color-warmWhite));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
