.warmTextGradient {
    background: linear-gradient(to left, var(--color-mainWhite), var(--color-warmWhite));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
