.gameDesc {
    color: darkgreen
}

h1, h2 {
    color: black;
}

.projectCardButton {
    background: linear-gradient(to left, var(--color-mainGreen), var(--color-accentGreen));
    transition: all ease-in-out 0.2s;
}

.projectCardButton:hover {
    transform: scale(1.05);
    cursor: pointer;
}